<!DOCTYPE html>

<html>
    <head>
        <title>(주)스카다아이씨티_스마트공장구축,스마트팩토리,교육,컨설팅</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="apple-touch-icon" sizes="180x180" href="static/image/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/image/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/image/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="192x192" href="static/image/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="512x512" href="static/image/android-chrome-512x512.png">
        <link rel="manifest" href="static/image/site.webmanifest">
        <link rel="mask-icon" href="static/image/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/main_k.css">
        <link rel="stylesheet" type="text/css" href="../static/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <script src="https://kit.fontawesome.com/87b0d47aaf.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.0.6/dist/jBox.all.min.js"></script>
        <link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.0.6/dist/jBox.all.min.css" rel="stylesheet">
        <style>
            .wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
            .wrap * {padding: 0;margin: 0;}
            .wrap .info {width: 286px;height: 122px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
            .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
            .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
            .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
            .info .close:hover {cursor: pointer;}
            .info .body {position: relative;overflow: hidden;}
            .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
            .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
            .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
            .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
            .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
            .info .link {color: #5085BB;}
        </style>
    </head>
    <body>
        <div id="start"></div>

        <!-- Header -->
            <header id="header">
                <div class="inner">
                    <a href="#start" class="logo"><img id="imgsize" src="../static/image/scadaict_logo_001.png" style="position: absolute; width: 8em; height: 2.2em; top: 16.24px;"></a>
                    <nav id="nav">
                        <a href= "#intro"><font face = 'NanumGothic'>회사소개</font></a>
                        <a href= "#factory"><font face = 'NanumGothic'>스마트공장지원사업</font></a>
                        <a href= "#solution"><font face = 'NanumGothic'>솔루션</font></a>
                        <a href= "#example"><font face = 'NanumGothic'>적용사례</font></a>
                        <a href= "#service_center"><font face = 'NanumGothic'>온라인문의</font></a>
                        <a href= "#education_center"><font face = 'NanumGothic'>교육센터</font></a>
                </nav>
                </div>
            </header>
            <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


    	<!-- Banner -->
            <section id="banner001">
                <div class="inner">
                    <h2><font face = 'NanumGothic'>THE LEADER IN THE AGE OF INDUSTRY 4.0</font></h2>
                        <h5><font face = 'NanumGothic'>4차 산업혁명을 이끌 인재를 양성하는 </font><br>
                            <font face = 'NanumGothic'>현장 맞춤형 스마트 공장 솔루션 전문 기업</font>
                        </h5>
                </div>
            </section>


        <!-- Swiper -->
        <div class="swiper-container swiper1" style="max-width: 100%; height: 40em auto; margin: 0 auto; padding-top: 0; padding-bottom: 0; position: relative; line-height: 1; color: #f1f1f1;">
            <div class="swiper-wrapper">
            <div class="swiper-slide" style="padding: 10em 8em 1em 8em; background-image: url(../static/image/catalog.png); background-repeat: no-repeat; background-position: 15% left; height: auto; text-align: left; position: relative; color: #f1f1f1;">
                <div class="slide-text">
                    <div id="slide" class="inner">
                    <h1 style="text-align: left;"><font color = #f1f1f1>2020년</font> <font color = #222B56>교육 카탈로그</font> <font color = #f1f1f1>출시</font></h1><br>
                    <h3><font color = #222B56>4차 산업혁명 현장형</font> 스마트팩토리 시스템 구축 과정<br>
                        <font color = #f1f1f1>아래</font> <font color = #222B56>링크</font><font color = #f1f1f1>로</font> <font color = #222B56>카탈로그</font><font color = #f1f1f1>를</font> 신청하세요
                    </h3>
                    <ul class="actions">
                        <li><a href= "#service_center" id="slide" class="button alt">온라인 상담 문의 ▼</a></li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="padding: 11em 9em 1em 9em; background-image: url(../static/image/smartfactory.png); background-repeat: no-repeat; background-position: 15% left; height: auto; text-align: left; position: relative; color: #f1f1f1;">
                <div class="slide-text">
                    <div id="slide" class="inner">
                    <h1 style="text-align: left;"><font color = #f1f1f1>2020년</font> <font color = #222B56>스마트제조혁신추진단</font> <font color = #f1f1f1>스마트팩토리 공급기업</font></h1><br/>
                    <h3>(주)스카다아이씨티<font color = #f1f1f1>는 <font color = #222B56>다양한 산업분야에서의</font> 구축 경험을 바탕으로</font><br>
                    스마트팩토리 <font color = #f1f1f1>보급 및 확장</font><font color = #f1f1f1>에 기여하고 있습니다</font>
                    </h3>
                    <ul class="actions">
                        <li><a href= "#solution" id="slide" class="button alt">솔루션 보기 ▼</a></li>
                    </ul>
                    </div>
                </div>
            </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-blue"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        </section>

<div id="example"></div>
<br>

        <!-- Swiper -->
        <div class="swiper-container swiper2" style="position: relative; z-index: 0;">
            <hr class="bar001">
            <br>
            <h1><font color = #4494D1>주요 구축 실적</font></h1>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/gs 001.jpg" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>(주)광***<br></h3>
                            <span>● 드럼라인 바코드 스캔 공정<br></span>
                            <h6></h6>
                                <h4>- 구축 및 유지 보수</h4><h4>- SCADA, BARCODE</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/H사 001.jpg" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>H사<br></h3>
                            <span>● 라인 모니터링<br></span>
                            <h6></h6>
                                <h4>- 일간 레포트 조회</h4><h4>- 인터페이스 상태 조회</h4><h4>- SAP 인터페이스</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/109.png" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>L사<br></h3>
                            <span>● 실시간 설비 상태 모니터링</span>
                            <h6></h6>
                            <h4>● 실시간 용수 사용 모니터링</h4><h4>● 실시간 설비 알람 관리</h4><h4>● 실시간 데이터 자동 수집</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/S사 001.PNG" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>S사<br></h3>
                            <span>● 정전 챔버 모니터링 개발<br></span>
                            <h6></h6>
                                <h4>- 계측기 장치 프로토콜 개발</h4><h4>- 밸브 제어 인터록 프로그램</h4><h4>- 레피시 프로그램</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/fire 001.png" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>한***공사<br></h3>
                            <span>● 화재위험 예측시스템 구축<br></span>
                            <h6></h6>
                                <h4>- 구축 및 유지 보수</h4><h4>- SCADA, IoT</h4>
                    </div>
                </div>
            </div>
        </div>
<br>
<!--온라인문의-->
        <!-- One004 -->
        <section id="one004">
            <div class="inner">
                    <h1 style="text-align: center;"><font color = #f1f1f1>(주)스카다아이씨티에게 물어보세요</font></h1>
                <ul class="actions">
                    <p style="text-align: center;">
                    <font color = #f1f1f1>"2020년 스마트제조혁신추진단 공급기업"</font><font color = #c9c9c9>으로서</font><font color = #f1f1f1> 스마트공장 신규구축부터 고도화까지</font><br>
                    <font color = #c9c9c9>젊고 강한 </font><font color = #f1f1f1>(주)스카다아이씨티</font><font color = #c9c9c9>가 하면 다릅니다</font>
                    </p>
                    <ul class="actions" style="text-align: center;">
                        <a href= "{{url_for('service_center')}}" id="slide002" class="button alt">▶ 온라인 상담 문의 ◀</a>
                    </ul>
                </ul>
            </div>
        </section>

<div id="intro"></div>
<br>
<br>
<br>
<hr class="bar">
<br>
<!--회사소개-->
<h1 style="text-align: center;">회사 소개</h1>
        <!-- Add Pagination -->
        <!-- One -->
            <section id="one">
                <div class="inner">
                    <header>
                        <h2><font color = #f1f1f1>스마트공장구축 컨설팅·솔루션 제공, 산업자동화 교육, SI구축, BAS구축 전문가</font></h2>
                    </header>
                    <p><font color = #f1f1f1>2019년 21개의 사업</font><font color = #c9c9c9>을 </font><font color = #f1f1f1>성공적으로 완수</font><font color = #c9c9c9>
                        <br>스마트팩토리 도입기업 </font><font color = #f1f1f1>평균 노동생산성 12%향상, 공장 설비가동률 11% 향상, 제품생산량 10% 향상</font><font color = #c9c9c9>
                        <font color = #f1f1f1>(주)스카다아이씨티</font><font color = #c9c9c9>는 다양한 분야에서의 노하우를 바탕으로</font><font color = #f1f1f1> 생산·운영·관리 시스템에 필요한<br>
                        MES/POP, PMS, WMS, SCM바코드</font><font color = #c9c9c9> 등의 솔루션을 </font><font color = #f1f1f1>컨설팅·구축</font><font color = #c9c9c9>하는 서비스를 제공합니다</font>
                    </p>
                    <ul class="actions">
                    </ul>
                </div>
            </section>
<br>
<div id="solution"></div>
<br>
<br>
<br>
<hr class="bar">
<br>
<!--솔루션-->
<h1 style="text-align: center;">스마트팩토리 시스템 구축</h1>
        <!-- One001 -->
        <section id="one001">
            <div class="inner">
                <header>
                    <h2><font color = #f1f1f1>IoT 장치 개발부터 MES/POP 시스템 구축까지</font></h2>
                </header>
                <p><font color = #f1f1f1>현장별 주요 요구사항</font><font color = #c9c9c9>에 맞게 </font><font color = #f1f1f1>검증된 시스템/솔루션</font><font color = #c9c9c9>을 구성 공급합니다
                    <br>(주)스카다아이씨티의 </font><font color = #f1f1f1>솔루션 코디네이팅</font><font color = #c9c9c9>으로 </font><font color = #f1f1f1>최적화된 스마트팩토리 시스템</font><font color = #c9c9c9>을 경험하세요</font>
                </p>
            </div>
        </section>
        <!-- Two -->
        <section id="two">
            <div class="inner">
                <article>
                    <div class="content">
                        <header>
                            <h2><p style="text-align: center;"><font color="#4494D1">스마트 팩토리 시스템 과정</font></p></h2>
                        </header>
                        <div class="image fit">
                            <img src="../static/image/total process solution.png" alt="" />
                        </div>
                        <p><font color = #4494D1>사이버물리시스템(CPS, Cyber Physical System)은 스마트팩토리의 핵심 기술이라고 할 수 있습니다</font> <br><font color = #222B56>CPS는 IoT 기술을 적용해 생산의 전 과정에서</font> <font color = #4494D1>제품, 공정, 설비, 공장 등 모든 개체를 연결, 감시하고 모아진 제조 빅데이터를 관리, 정제, 분석합니다</font>
                        </p>
                    </div>
                </article>
                <article class="alt">
                    <div class="content">
                        <header>
                            <h2><p style="text-align: center;"><font color="#4494D1">구축 아키텍처</font></p></h2>
                        </header>
                        <div class="image fit">
                            <img src="../static/image/arc.png" alt="" />
                        </div>
                        <p><font color = #4494D1>공장의 다양한 이기종 </font><font color = #222B56>PLC/임베디드 설비 데이터 수집</font><font color = #4494D1>이 가능한 솔루션이 </font><font color = #222B56>필요합니다</font><font color = #4494D1>
                            <br>다양하고 복잡한 설비를 </font><font color = #222B56>간소화 및 자동화</font><font color = #4494D1>하고 한 곳에서 효과적으로 </font><font color = #222B56>감시, 제어, 측정하고 분석, 처리함</font><font color = #4494D1>으로써 합리적인 운영을 가능하게 합니다</font>
                        </p>                    
                    </div>
                </article>
            </div>
        </section>

<!--스마트공장지원사업-->
<div id="factory"></div>
<br>
<br>
<br>
<hr class="bar">
<br>
<h1 style="text-align: center;">정부지원 사업안내</h1>
<p style="text-align: center;"><img src="../static/image/중소벤처기업부 로고.png" width = "220em" height = "50em">   <img src="../static/image/스마트공장 사업관리시스템.png" width = "230em" height = "50em"> <img src="../static/image/스마트제조혁신추진단.png" width = "360em" height = "50em"></p>


        <!-- One002 -->
        <section id="one002">
            <div class="inner">
                <header>
                    <h1 style="text-align: center;"><font color = #222B56>2020년</font> 새로워진 <font color = #222B56>스마트팩토리</font> 구축 지원!</h1>
                </header>
                <p></p>
                <ul class="actions">
                    <h3><p style="text-align: center;"><font color = #222B56>① 2022년까지</font> 10인 이상 제조중소기업(6.7만개)의 50% 스마트화 <font color = #222B56>총 30,000개까지 스마트팩토리 보급 확대 계획</font>
                        <br><font color = #222B56>② (신규구축)</font> 기업 당 <font color = #222B56>최대 1억원</font> 총 사업비의 50% 이내 지원
                        <br><font color = #222B56>③ (고도화)</font> 기업 당 <font color = #222B56>최대 1.5억원</font> 총 사업비의 50% 이내 지원
                        <br><font color = #222B56>② (소기업) 기초수준</font> 스마트공장 구축시 <font color = #222B56>기업 부담 없이 정부와 주관기관이 100%</font> 지원
                        <br><font color = #222B56>④ (컨소시엄)</font> 산업단지에 위치한 국내 중소 · 중견 제조기업 기업당 <font color = #222B56>최대 3억원</font> 총 사업비의 50%이내 지원
                    </p></h3>
                    <p style="text-align: center;"><a rel="roopener" target="_blank" href="https://www.smart-factory.kr/bsnsIntrcn/intrcnView?bsnsClCodeSe=0000002A" class="button alt">정부지원 사업 자세히 보기 ▶</a></p>
                </ul>
            </div>
        </section>

<div id="education_center"></div>
<br>
<br>
<br>
<hr class="bar">
<br>
<!--교육센터-->
<h1 style="text-align: center;">주요 교육 과정안내</h1>
        <!-- One003 -->
        <section id="one003">
            <div class="inner">
                <header>
                    <h1 style="text-align: center;"><font color = #f1f1f1> 실무 사례로 배우는 스마트공장 구축 시스템 (NCS 기반) </font></h1>
                </header>
                <p></p>
                <ul class="actions">
                    <p><font color = #c9c9c9>(주)스카다아이씨티는 </font><font color = #f1f1f1>스마트팩토리 시스템</font><font color = #c9c9c9>을</font><font color = #f1f1f1> 쉬운 설명과 20개의 실무 사례로 </font><font color = #c9c9c9>쉽게 접근하게 해줍니다
                        <br>초보자도 쉽게 따라할 수 있도록 </font><font color = #f1f1f1>각 목차 단계별로 실무 사례</font><font color = #c9c9c9>를 들어 알기 쉽게 설명합니다
                        <br>PLC부터 MES시스템기초까지 </font><font color = #f1f1f1>다양한 분야에서 적용되는 운영 · 관리시스템에 대한 모든 것</font><font color = #c9c9c9>을 담았습니다</font>
                    </p>
                    </h3>
                </ul>
            </div>
        </section>

<!--온라인문의-->
<div id="service_center"></div>
<br>
<br>
<br>
        <!-- One004 -->
        <section id="one004">
            <div class="inner">
                    <h1 style="text-align: center;"><font color = #f1f1f1>(주)스카다아이씨티에게 물어보세요</font></h1>
                <ul class="actions">
                    <p style="text-align: center;">
                    <font color = #f1f1f1>"2020년 스마트제조혁신추진단 공급기업"</font><font color = #c9c9c9>으로서</font><font color = #f1f1f1> 스마트공장 신규구축부터 고도화까지</font><br>
                    <font color = #c9c9c9>젊고 강한 </font><font color = #f1f1f1>(주)스카다아이씨티</font><font color = #c9c9c9>가 하면 다릅니다</font>
                    </p>
                    <ul class="actions" style="text-align: center;">
                        <a href= "{{url_for('service_center')}}" id="slide002" class="button alt">▶ 온라인 상담 문의 ◀</a>
                    </ul>
                </ul>
            </div>
        </section>

<!-- 위치정보 -->
<section id="two">
    <div class="inner">
        <article class="alt">
            <div class="content">
                <header>
                    <h2 style=" text-align: center;">
                        <i class="fa fa-map" aria-hidden="true"></i>
                        <p style="text-align: center;"><font color="#4494D1">회사 위치</font></p>
                    </h2>
                </header>
                <div id="map" style="width:100%;height:18em;"></div>                    
            </div>
        </article>
        <article class="alt">
            <div class="content">
                <header>
                    <h2 style=" text-align: center;">
                        <i class="fa fa-info" aria-hidden="true"></i>
                        <p style="text-align: center;"><font color="#4494D1">무엇이든지 물어보세요</font></p>
                    </h2>
                </header>
                <p><font color = #4494D1 size = 3em >Tel : 02-6956-3035</font>
                    <br><font color = #222B56 size = 3em >Fax : 070-7966-3045</font>
                    <br><font color = #4494D1 size = 3em >E-mail : <a href="mailto:info@scadaict.com">info@scadaict.com</a></font>
                    <br><font color = #222B56 size = 3em >업무시간 (월~금): 09:00 a.m. ~ 06:00 p.m.</font>
                </p>
            </div>
        </article>
    </div>
</section>


		<!-- Footer -->
            <section id="footer">
                <div class="inner">
                    <div class="content">
                            <a href="#start" class="logo"><img id="imgsize" src="../static/image/scadaict_logo_002.png" style="position: absolute; width: 8em; height: 2.2em; top: 16.24px;"></a>
                    </div>
                    <div class="content">
                        <article>
                            <h2><font face = 'NanumGothic'>(주)스카다아이씨티</font></h2>
                            <p><font face = 'NanumGothic'><b>서울특별시 강서구 마곡동 774-3 센테니아 607호</b></font></br>
                                <font face = 'NanumGothic'><b>Tel : 02 - 6956 - 3035   Fax : 070 - 7966 - 3045</b></font></br>
                                    <font face = 'NanumGothic'><b>E-mail : <a href="mailto:info@scadaict.com">info@scadaict.com</a></b></font></p>
                        </article>
                        <article>
                            <form method="post" action="">
                                <ul class="actions">
                                    <li><a class="button alt" rel="roopener" target="_blank" href="../static/사업자등록증 _ (주)스카다아이씨티.pdf" download><font face = 'NanumGothic'><b>사업자등록증 다운로드 ▶</b></font></a></li>
                                </ul>
                            </form>
                        </article>
                    </div>
                </div>
            </section>
            <section id="footer">
                <div class="copyright">
                        Copyright&copy; SCADA ICT All Rights Reserved.</br>
                        <font color = #4494D1> Made by <a href="mailto:danielqoo@scadaict.com"> <font color = #4494D1>Danielqoo</font></a></font>
				</div>
            </section>
            

		<!-- Scripts -->
        <script src="../static/js/skel.min.js"></script>
        <script src="../static/js/util.js"></script>
        <script src="../static/js/main.js"></script>
        <script type="text/javascript" src="../static/js/swiper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.0.6/dist/jBox.all.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=96279344616c75c49e9e404321b95c9e"></script>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=LIBRARY"></script>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services,clusterer,drawing"></script>


        <!-- 카카오맵 -->
        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = { 
                    center: new kakao.maps.LatLng(37.565604, 126.831987), // 지도의 중심좌표
                    level: 6 // 지도의 확대 레벨
                };
        
            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        
        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
            var mapTypeControl = new kakao.maps.MapTypeControl();
        
        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
            map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
        
        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
            var zoomControl = new kakao.maps.ZoomControl();
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

        // 지도에 마커를 표시합니다 
            var marker = new kakao.maps.Marker({
                map: map, 
                position: new kakao.maps.LatLng(37.559946, 126.831987)
            });

        // 커스텀 오버레이에 표시할 컨텐츠 입니다
        // 커스텀 오버레이는 아래와 같이 사용자가 자유롭게 컨텐츠를 구성하고 이벤트를 제어할 수 있기 때문에
        // 별도의 이벤트 메소드를 제공하지 않습니다 
        var content = '<div class="wrap">' + 
                            '    <div class="info">' + 
                            '        <div class="title">' + 
                            '            <font color = #111111>(주)스카다아이씨티</font>' + 
                            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
                            '        </div>' + 
                            '        <div class="body">' + 
                            '            <div class="img">' +
                            '                <img src="../static/image/mstile-150x150.png" width="73" height="70">' +
                            '            </div>' + 
                            '            <div class="desc">' + 
                            '                <div class="ellipsis"><a href="http://kko.to/fHL0Ce1jB" target="_blank" class="link">'+
                            '                <font color = #111111>(우) 07802 서울특별시 강서구<br>' +
                            '                 공항대로 219 (마곡동, 센테니아)<br>' +
                            '                 6층 607호</font></div></a>' +
                            '                <div class="jibun ellipsis"><a href="http://naver.me/xMzNUaFm" target="_blank" class="link">'+
                            '                ▶ 네이버 지도로 보기 ◀<br>'
                            '            </div>' + 
                            '        </div>' + 
                            '    </div>' +    
                            '</div>';
        // 마커 위에 커스텀오버레이를 표시합니다
        // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
            var overlay = new kakao.maps.CustomOverlay({
                content: content,
                map: map,
                position: marker.getPosition()       
            });

        // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
            kakao.maps.event.addListener(marker, 'click', function() {
                overlay.setMap(map);
            });

        // 커스텀 오버레이를 닫기 위해 호출되는 함수입니다 
            function closeOverlay() {
                overlay.setMap(null);     
            }

        </script>

        
        <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper('.swiper1', {
                    spaceBetween: 30,
                    centeredSlides: true,
                    autoplay: {
                        delay: 4500,
                        disableOnInteraction: false,
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });
            </script>


        <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper('.swiper2', {
                    effect: 'coverflow',
                    grabCursor: true,
                    centeredSlides: true,
                    initialSlide: 2,
                    slidesPerView: 'auto',
                    loop: true,
                    coverflowEffect: {
                        rotate: 45,
                        stretch: 0,
                        depth: 300,
                        modifier: 1,
                        slideShadows : true,
                    },
                });
            </script>

        <!-- Smoothly Scroll -->
            <script>
                $(document).ready(function(){
                $("a").on('click', function(event) {
                    if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){
                        window.location.hash = hash;
                    });
                    }
                });
                });
            </script>

        <!-- Back To Top -->
        <a href="#" class="bck"></a>
        <link rel="stylesheet" href="../static/css/jquery.back-to-top.css">
        <script src="../static/js/jquery.back-to-top.js"></script>
        <script>
        $(function(){
            $('.bck').backToTop();		
        });
        </script>


</body>
</html>