<!DOCTYPE html>

<html>
    <head>
        <title>(주)스카다아이씨티_스마트공장구축,스마트팩토리,교육,컨설팅</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/jquery.back-to-top.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
    <body>


        <!-- Header -->
            <header id="header">
                <div class="inner">
                    <a href="{{url_for('home')}}" class="logo"><img id="imgsize" src="../static/image/scadaict_logo_001.png" style="position: absolute; width: 8em; height: 2.2em; top: 16.24px;"></a>
                    <nav id="nav">
                        <a href= "#intro"><font face = 'NanumGothic'>회사소개</font></a>
                        <a href= "#factory"><font face = 'NanumGothic'>스마트공장지원사업</font></a>
                        <a href= "#solution"><font face = 'NanumGothic'>솔루션</font></a>
                        <a href= "#example"><font face = 'NanumGothic'>적용사례</font></a>
                        <a href= "#service_center"><font face = 'NanumGothic'>온라인문의</font></a>
                        <a href= "#education_center"><font face = 'NanumGothic'>교육센터</font></a>
                </nav>
                </div>
            </header>
            <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


    	<!-- Banner -->
            <section id="banner001">
                <div class="inner">
                    <h2><font face = 'NanumGothic'>THE LEADER IN THE AGE OF INDUSTRY 4.0</font></h2>
                        <h5><font face = 'NanumGothic'>4차 산업혁명을 이끌 인재를 양성하는 </font><br>
                            <font face = 'NanumGothic'>현장 맞춤형 스마트 공장 솔루션 전문 기업</font>
                        </h5>
                </div>
            </section>


        <!-- Slide -->
            <section id="slide">
                <div class="slider">
                    <div class="slide_viewer">
                        <div class="slide_group">
                            <div class="slide">
                                <div class="inner" >
                                    <div class = "inner">
                                        <h1><font color = #f1f1f1>2020년</font> <font color = #222B56>교육 카탈로그</font> <font color = #f1f1f1>출시</font></h1><br>
                                        <h3><font color = #222B56>4차 산업혁명 현장형</font> 스마트팩토리 시스템 구축 과정<br>
                                        <font color = #f1f1f1>아래</font> <font color = #222B56>링크</font><font color = #f1f1f1>로</font> <font color = #222B56>카탈로그</font><font color = #f1f1f1>를</font> 신청하세요
                                        </h3>
                                        <ul class="actions">
                                            <li><a href="{{url_for('service_center')}}" class="button alt">온라인 상담 문의 ▶</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="inner" >
                                    <div class="inner" >
                                        <h1><font color = #f1f1f1>2020년</font> <font color = #222B56>스마트제조혁신추진단</font> <font color = #f1f1f1>스마트팩토리 공급기업</font></h1><br/>
                                        <h3>(주)스카다아이씨티<font color = #f1f1f1>는 <font color = #222B56>다양한 산업분야에서의</font> 시스템 구축 경험과 특화된 기술력을 기반으로</font><br>
                                        스마트팩토리 <font color = #f1f1f1>보급 및 확장</font><font color = #f1f1f1>에 기여하고 있습니다</font>
                                        </h3>
                                        <ul class="actions">
                                            <li><a href="{{url_for('solution')}}" class="button alt">솔루션 보기 ▼</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End // .slider -->

<div id="example"></div>
              
                <div class="slide_buttons">
                </div>
              
                <div class="directional_nav">
                    <div class="previous_btn" title="Previous">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
                            <g>
                                <g>
                                    <path fill="#474544" d="M-10.5,22.118C-10.5,4.132,4.133-10.5,22.118-10.5S54.736,4.132,54.736,22.118
                                        c0,17.985-14.633,32.618-32.618,32.618S-10.5,40.103-10.5,22.118z M-8.288,22.118c0,16.766,13.639,30.406,30.406,30.406 c16.765,0,30.405-13.641,30.405-30.406c0-16.766-13.641-30.406-30.405-30.406C5.35-8.288-8.288,5.352-8.288,22.118z"/>
                                    <path fill="#474544" d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0	c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564	c-0.215,0.218-0.498,0.323-0.78,0.323C25.929,33.569,25.646,33.464,25.43,33.243z"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="next_btn" title="Next">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
                            <g>
                                <g>
                                    <path fill="#474544" d="M22.118,54.736C4.132,54.736-10.5,40.103-10.5,22.118C-10.5,4.132,4.132-10.5,22.118-10.5	c17.985,0,32.618,14.632,32.618,32.618C54.736,40.103,40.103,54.736,22.118,54.736z M22.118-8.288	c-16.765,0-30.406,13.64-30.406,30.406c0,16.766,13.641,30.406,30.406,30.406c16.768,0,30.406-13.641,30.406-30.406 C52.524,5.352,38.885-8.288,22.118-8.288z"/>
                                    <path fill="#474544" d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035 			L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div><!-- End // .directional_nav -->
            </section>


        <!-- Swiper -->
        <div class="swiper-container">
            <h1>[ 구축 실적 ]</h1>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/10.jpg" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>마곡/광교<br></h3>
                            <span>● 빌딩 제어 시스템<br></span>
                            <h6></h6>
                                <h4>- 마곡/광교 빌딩 제어 시스템 구축</h4><h4>- S****** DDC, DESIGO CC</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/16.jpg" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>계**학교<br></h3>
                            <span>● 빌딩 제어 시스템<br></span>
                            <h6></h6>
                                <h4>- 계**학교 빌딩 제어 시스템 구축</h4><h4>- S****** DDC, DESIGO CC</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/10.jpg" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>수**학교<br></h3>
                            <span>● MES 모니터링<br></span>
                            <h6></h6>
                                <h4>- 수**학교 MES 장비 모니터링 개발</h4><h4>- S****** PLC, OPC UA, C#, SAP, DAS</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/16.jpg" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>(주)광***<br></h3>
                            <span>● 드럼라인 바코드 스캔 공정<br></span>
                            <h6></h6>
                                <h4>- 구축 및 유지 보수</h4><h4>- C**** SCADA, BARCODE</h4>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/10.jpg" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>H사<br></h3>
                            <span>● 라인 모니터링<br></span>
                            <h6></h6>
                                <h4>- 일간 레포트 조회</h4><h4>- 인터페이스 상태 조회</h4><h4>- SAP 인터페이스</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/L사 001.PNG" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>L사<br></h3>
                            <span>● 실시간 설비 상태 모니터링</span>
                            <h6></h6>
                            <h4>● 실시간 용수 사용 모니터링</h4><h4>● 실시간 설비 알람 관리</h4><h4>● 실시간 데이터 자동 수집</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/16.jpg" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>S사<br></h3>
                            <span>● 정전 챔버 모니터링 개발<br></span>
                            <h6></h6>
                                <h4>- 계측기 장치 프로토콜 개발</h4><h4>- 밸브 제어 인터록 프로그램</h4><h4>- 레피시 프로그램</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/10.jpg" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>한***공사<br></h3>
                            <span>● 화재위험 예측시스템 구축<br></span>
                            <h6></h6>
                                <h4>- 구축 및 유지 보수</h4><h4>- SCADA, IoT</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/16.jpg" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>분** **** 지하철<br></h3>
                            <span>● 지하철 공조 시스템<br></span>
                            <h6></h6>
                                <h4>- 구축 및 유지 보수</h4><h4>- S****** DDC, DESIGO CC</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/10.jpg" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>(주)범***<br></h3>
                            <span>● WMS 시스템 모니터링<br></span>
                            <h6></h6>
                                <h4>- 구축 및 유지 보수</h4><h4>- Siemens PCS, I******, DAS</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/16.jpg" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>(주)신****<br></h3>
                            <span>● PLC 프로그램<br></span>
                            <h6></h6>
                                <h4>- 스크류 볼트 조립기 설비 PLC 프로그램</h4><h4>- E*******, L* PLC</h4>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../static/image/10.jpg" width="300em" height="150em">
                    </div>
                    <div class="details">
                        <h3>교육기관<br><font size = -1>전* *** 연수원, 서울 ** *** 캠퍼스, 충남*****, 수*****고등학교</font></h3>
                            <span>● 현장실습용 키트 개발 납품<br></span>
                            <h6></h6>
                                <h4>- 스마트 융합 네트워크 키트 개발</h4>
                    </div>
                </div>
            </div>
<!--회사소개-->
<div id="intro"></div>
        <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>

            
        <!-- One -->
            <section id="one">
                <div class="inner">
                    <header>
                        <h2><font color = #f1f1f1>IoT 장치 개발부터 MES, ERP 시스템 구축까지</font></h2>
                    </header>
                    <p><font color = #c9c9c9>2019년 21개의 사업을 </font><font color = #f1f1f1>성공적으로 완수</font><font color = #c9c9c9>
                        <br>스마트팩토리 도입기업 </font><font color = #f1f1f1>평균 노동생산성 12%향상, 공장 설비가동률 11% 향상, 제품생산량 10% 향상</font><font color = #c9c9c9>
                        <br>(주)스카다아이씨티는 </font><font color = #f1f1f1>스마트공장구축 컨설팅 및 솔루션 제공, 산업자동화 교육, SI 구축, BAS 구축 전문가</font><font color = #c9c9c9>입니다</font>
                    </p>
                    <ul class="actions">
                        <li><a href="{{url_for('intro')}}" class="button alt">회사소개 바로가기</a></li>
                    </ul>
                </div>
            </section>

<!--솔루션-->
<div id="solution"></div>
<br>
<br>
<br>

        <!-- One001 -->
        <section id="one001">
            <div class="inner">
                <header>
                    <h2><font color = #f1f1f1>IoT 장치 개발부터 MES, ERP 시스템 구축까지</font></h2>
                </header>
                <p><font color = #c9c9c9>2019년 21개의 사업을 </font><font color = #f1f1f1>성공적으로 완수</font><font color = #c9c9c9>
                    <br>스마트팩토리 도입기업 </font><font color = #f1f1f1>평균 노동생산성 12%향상, 공장 설비가동률 11% 향상, 제품생산량 10% 향상</font><font color = #c9c9c9>
                    <br>(주)스카다아이씨티는 </font><font color = #f1f1f1>스마트공장구축 컨설팅 및 솔루션 제공, 산업자동화 교육, SI 구축, BAS 구축 전문가</font><font color = #c9c9c9>입니다</font>
                </p>
                <ul class="actions">
                    <li><a href="{{url_for('intro')}}" class="button alt">회사소개 바로가기</a></li>
                </ul>
            </div>
        </section>

<!--스마트공장지원사업-->
<div id="factory"></div>
<br>
<br>
<br>

<h1 style="text-align: center;">[ 정부지원 사업안내 ]</h1>
<p style="text-align: center;"><img src="../static/image/중소벤처기업부 로고.png" width = "220em" height = "50em">   <img src="../static/image/스마트공장 사업관리시스템.png" width = "230em" height = "50em"> <img src="../static/image/스마트제조혁신추진단.png" width = "360em" height = "50em"></p>


        <!-- One002 -->
        <section id="one002">
            <div class="inner">
                <header>
                    <h1 style="text-align: center;"><font color = #222B56>2020년</font> 새로워진 <font color = #222B56>스마트팩토리</font> 구축 지원!</h1>
                    
                </header>
                <p></p>
                <ul class="actions">
                    <h3><p style="text-align: center;"><font color = #222B56>① 2022년까지</font> 10인 이상 제조중소기업(6.7만개)의 50% 스마트화 <font color = #222B56>총 30,000개까지 스마트팩토리 보급 확대 계획</font>
                        <br><font color = #222B56>② (신규구축)</font> 기업 당 <font color = #222B56>최대 1억원</font> 총 사업비의 50% 이내 지원
                        <br><font color = #222B56>③ (고도화)</font> 기업 당 <font color = #222B56>최대 1.5억원</font> 총 사업비의 50% 이내 지원
                        <br><font color = #222B56>② (소기업) 기초수준</font> 스마트공장 구축시 <font color = #222B56>기업 부담 없이 정부와 주관기관이 100%</font> 지원
                        <br><font color = #222B56>④ (컨소시엄)</font> 산업단지에 위치한 국내 중소 · 중견 제조기업 기업당 <font color = #222B56>최대 3억원</font> 총 사업비의 50%이내 지원
                    </p></h3>
                    <p style="text-align: center;"><a href="{{url_for('factory')}}" class="button alt">정부지원 사업 자세히 보기 ▼</a></p>
                </ul>
            </div>
        </section>
        
<!--교육센터-->
<div id="education_center"></div>
<br>
<br>
<br>
<h1 style="text-align: center;">[ 실무교육 과정안내 ]</h1>

        <!-- One003 -->
        <section id="one003">
            <div class="inner">
                <header>
                    <h1 style="text-align: center;"><font color = #f1f1f1> 실무 사례로 배우는 스마트공장 구축 시스템 (NCS 기반) </font></h1>
                    
                </header>
                <p></p>
                <ul class="actions">
                    <p><font color = #c9c9c9>(주)스카다아이씨티는 </font><font color = #f1f1f1>스마트팩토리 시스템</font><font color = #c9c9c9>을</font><font color = #f1f1f1> 쉬운 설명과 20개의 실무 사례로 </font><font color = #c9c9c9>쉽게 접근하게 해줍니다
                        <br>초보자도 쉽게 따라할 수 있도록 </font><font color = #f1f1f1>각 목차 단계별로 실무 사례</font><font color = #c9c9c9>를 들어 알기 쉽게 설명합니다
                        <br>PLC부터 MES시스템기초까지 </font><font color = #f1f1f1>다양한 분야에서 적용되는 운영 · 관리시스템에 대한 모든 것</font><font color = #c9c9c9>을 담았습니다</font>
                    </p>
                    </h3>
                    <p style="text-align: center;"><a href="{{url_for('education_center')}}" class="button alt">교육신청 바로가기</a></p>
                </ul>
            </div>
        </section>

<!--온라인문의-->
<div id="service_center"></div>
<br>
<br>
<br>
<h1 style="text-align: center;">[ 온라인문의 ]</h1>
        <!-- One004 -->
        <section id="one004">
            <div class="inner">
                <header>
                    <h1 style="text-align: center;"><font color = #f1f1f1> 실무 사례로 배우는 스마트공장 구축 시스템 (NCS 기반) </font></h1>
                </header>
                <p></p>
                <ul class="actions">
                    <p><font color = #c9c9c9>(주)스카다아이씨티는 </font><font color = #f1f1f1>스마트팩토리 시스템</font><font color = #c9c9c9>을</font><font color = #f1f1f1> 쉬운 설명과 20개의 실무 사례로 </font><font color = #c9c9c9>쉽게 접근하게 해줍니다
                        <br>초보자도 쉽게 따라할 수 있도록 </font><font color = #f1f1f1>각 목차 단계별로 실무 사례</font><font color = #c9c9c9>를 들어 알기 쉽게 설명합니다
                        <br>PLC부터 MES시스템기초까지 </font><font color = #f1f1f1>다양한 분야에서 적용되는 운영 · 관리시스템에 대한 모든 것</font><font color = #c9c9c9>을 담았습니다</font>
                    </p>
                    </h3>
                    <p style="text-align: center;"><a href="{{url_for('education_center')}}" class="button alt">교육신청 바로가기</a></p>
                </ul>
            </div>
        </section>
            
		<!-- Footer -->
            <section id="footer">
                <div class="inner">
                    <div class="content">
                            <a href="{{url_for('home')}}" class="logo"><img id="imgsize" src="../static/image/scadaict_logo_002.png" style="position: absolute; width: 8em; height: 2.2em; top: 16.24px;"></a>
                    </div>
                    <div class="content">
                        <article>
                            <h2><font face = 'NanumGothic'>(주)스카다아이씨티</font></h2>
                            <p><font face = 'NanumGothic'><b>서울특별시 강서구 마곡동 774-3 센테니아 607호</b></font></br>
                                <font face = 'NanumGothic'><b>Tel : 02 - 6956 - 3035   Fax : 070 - 7966 - 3045</b></font></br>
                                    <font face = 'NanumGothic'><b>E-mail : info@scadaict.com</b></font></p>
                        </article>
                        <article>
                            <form method="post" action="">
                                <ul class="actions">
                                    <li><a class="button alt" rel="roopener" target="_blank" href="../static/사업자등록증 _ (주)스카다아이씨티.pdf" download><font face = 'NanumGothic'><b>사업자등록증 다운로드 ▶</b></font></a></li>
                                </ul>
                            </form>
                        </article>
                    </div>
                </div>
            </section>
            <section id="footer">
                <div class="copyright">
                        Copyright&copy; SCADA ICT All Rights Reserved.</br>
                        Made by <a href="mailto:danielqoo@scadaict.com">Danielqoo</a>
				</div>
            </section>
            

		<!-- Scripts -->
            <script src="../static/js/jquery.min.js"></script>
            <script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="../static/js/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="../static/js/swiper.min.js"></script>

        <!-- Back To Top -->
            <a href="#" class="bck"></a>   
            <script  src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
            <script src="../static/js/jquery.back-to-top.js"></script>

            <script>
                $(function(){
                    $('.bck').backToTop();		
                });
            </script>

        <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper('.swiper-container', {
                    effect: 'coverflow',
                    grabCursor: true,
                    centeredSlides: true,
                    initialSlide: 5,
                    slidesPerView: 'auto',
                    coverflowEffect: {
                        rotate: 45,
                        stretch: 0,
                        depth: 300,
                        modifier: 1,
                        slideShadows : true,
                    },
                    pagination: {
                        el: '.swiper-pagination',
                    },
                });
            </script>

        <!-- Smoothly Scroll -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script>
                $(document).ready(function(){
                // Add smooth scrolling to all links
                $("a").on('click', function(event) {
                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();
                    // Store hash
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){
                        window.location.hash = hash;
                    });
                    } // End if
                });
                });
            </script>


</body>
</html>