<!DOCTYPE html>

<html>
    <head>
        <title>(주)스카다아이씨티_스마트공장구축,스마트팩토리,교육,컨설팅</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../static/css/jquery.back-to-top.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" type="text/css" href="../static/css/pyramid.css">
    </head>
<body>
<div id="pyramid">
    <div class="step">
      <span>데이터 분석</span>
    </div>
    <div class="step">
      <span>데이터 융합</span>
    </div>
    <div class="step">
      <span>현장 HMI 분석</span>
    </div>
    <div class="step">
      <span>IoT 디바이스 개발</span>
    </div>
    <div class="popupFeedback">
      <div>
        <p>MES/POP 구축 엔지니어</p>
      </div>
    </div>
    <div class="popupFeedback">
      <div>
        <p>IoT 융합 제어, 라이브러리 제작</p>
      </div>
    </div>
    <div class="popupFeedback">
      <div>
        <p>SCADA 시스템</p>
      </div>
    </div>
    <div class="popupFeedback">
      <div>
        <p>필드 네트워크, 데이터 수집</p>
      </div>
    </div>
  </div>


		<!-- Scripts -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="../static/js/jquery-3.2.1.min.js"></script>
        <script src="../static/js/pyramid.js"></script>



</body>
</html>
